<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <!-- Correct link to the CSS file -->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <!-- Navigation bar -->
    <div class="nav-bar">
        <a th:href="@{/}">Go to Home Page</a>
        <a th:href="@{/signup}">Go to Sign Up Page</a>
    </div>

    <!-- Centered login page heading -->
    <div style="text-align: center;">
        <h1>Login Page</h1>
    </div>

    <!-- Login form -->
    <form th:action="@{/login}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
