<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div style="text-align: center;">
        <h1>Sign Up Page</h1>
    </div>

    <!-- Signup form -->
    <form th:action="@{/signup}" method="POST" th:object="${userSignupDTO}">
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" id="username" required>
        <br><br>

        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" required>
        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
